<!doctype html>
<html>
<head>
	<title>Page not found</title>
	<meta name="viewport" content="width=device-width">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap-theme.css">
</head>
<body>
	<div class="container">
		<div class="jumbotron text-center">
			<h1>{{ 404 }}</h1>
			<h2>Ops! This is not the page you are looking for!<h2>
		</div>
		<h2 class="text-center">
			<a href="/">Click here to come back</a>
		</h2>
	</div>
</body>
</html>